{{#extends "base"}}
{{#block"content"}}
<h1>Stock Information</h1>
<table class="table">
    <tr>
        <th>Product Name</th>
        <th>Instock</th>
        <th>Product Weight</th>
        <th>Product Size</th>
    </tr>
    {{#each inventory}}
    <tr>
        <td>{{product_name}}</td>
        <td>{{instock}}</td>
        <td>{{product_weight}}</td>
        <td>{{product_size}}</td>
    </tr>
    {{/each}}
</table>
{{/block}}
{{/extends}}