{{#extends "base"}}

{{#block "title"}}Delete Quotation{{/block}}

{{#block "content"}}
<form method="POST">
    <div class="alert-danger">
        Are you sure you want to delete {{quote_id}}?
        <div>
            <input type="submit" value="Confirm" class="btn btn-danger"/>
            <a href="/quotation" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>

{{/block}}

{{/extends}}