{{#extends "base"}}
{{#block "content"}}
<h1>Quotation Information</h1>
<table class="table">
    <tr>
        <th>Quoted Date</th>
        <th>Validity Date</th>
        <th>Quoted Amount</th>
        <th>Quoted Quantity</th>
    </tr>
    {{#each quotation}}
    <tr>
        <td>{{quoted_date}}</td>
        <td>{{validity_date}}</td>
        <td>{{quoted_amount}}</td>
        <td>{{quoted_quantity}}</td>
    </tr>
    {{/each}}
</table>
{{/block}}
{{/extends}}