{{#extends "base"}}
{{#block"content"}}
<h1>Companies</h1>
<table class="table">
    <tr>
        <th>Company Name</th>
        <th>Last Name</th>
        <th>Postal Code</th>
        <th>Contact Number</th>
    </tr>
    {{#each company}}
    <tr>
        <td>{{company_name}}</td>
        <td>{{company_address}}</td>
        <td>{{postal_code}}</td>
        <td>{{office_number}}</td>
    </tr>
    {{/each}}
</table>
{{/block}}
{{/extends}}