{{#extends "base"}}

{{#block "title"}}Delete Confirmed Order{{/block}}

{{#block "content"}}
<form method="POST">
    <div class="alert-danger">
        Are you sure you want to delete {{confirmed_orders.order_id}} ?
        <div>
            <input type="submit" value="Confirm" class="btn btn-danger"/>
            <a href="/confirmed_orders" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>

{{/block}}

{{/extends}}